/**
 * export-styles: documentation
 */

h1, h2, h3, h4, h5, h6, h7, h8 {
    color: black;
    padding-top: 5px;
    border-top: 1px dotted green;
    clear: both;
}



/* headings */
.yaio-doc-h1 {
}

.yaio-doc-h2 {
    font-size: 16px;
    font-weight: bold;
}

.yaio-doc-h3 {
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
}
.yaio-doc-h4 {
    margin-left: 20px;
    font-size: 11px;
    font-weight: bold;
}
.yaio-doc-h5 {
    margin-left: 30px;
    font-size: 10px;
    font-weight: bold;
}
.yaio-doc-h6 {
    margin-left: 35px;
    font-size: 9px;
    font-weight: bold;
}

/* paragraphs */
.yaio-doc-p {
    margin-left: 20px;
    line-height: 15px;
    float: left;
    clear: both;
    margin-bottom: 0;
    margin-top: 0;
}

.yaio-doc-p-ue {
    display: inline-block;
    width: 150px;
    text-align: left;
    float: left;
    clear: both;
}
.yaio-doc-p-desc {
    display: inline-block;
    width: 510px;
    vertical-align: top;
}
.yaio-doc-p-descdetail {
    clear: both;
    display: inline-block;
    width: 510px;
    vertical-align: top;
    font-style:italic;
    float: left;
    clear: both;
    font-size: 9px;
}
.yaio-doc-p-desc-full {
    display: inline-block;
    margin-left: 30px;
    width: 640px;
    vertical-align: top;
}

/* lists */
.yaio-doc-li {
    margin-left: 10px;
    list-style: none outside none;
}
.yaio-doc-li-ue {
    text-align: left;
    display: inline-block;
    width: 200px;
    float: left;
    clear: both;
}
.yaio-doc-li-desc {
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
.yaio-doc-li-descdetail {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    font-style:italic;
    float: left;
    clear: both;
    font-size: 9px;
}

/* tables */
.yaio-doc-table {
    border: 1px solid #8CACD3;
    margin-left: 30px;
}
.yaio-doc-tr-ue {
    font-weight: bold;
    background: #8CACD3;
}
.yaio-doc-tr-datenue {
    font-weight: bold;
    background: #8CACD3;
}
.yaio-doc-tr-gesamt {
    font-weight: bold;
    background: #DEE9EF;
}
.yaio-doc-td {
    border: 1px solid #8CACD3;
}

/**
 * special cases
 **/

.yaio-doc-h3-intro {
    margin-left: 0px;
    font-size: 15px;
    font-weight: bold;
}
.yaio-doc-p-ue {
    display: none;
}
.yaio-doc-p-desc {
    margin-left: 30px;
    display: inline-block;
    width: 640px;
    vertical-align: top;
}


/* Documentation */
/** specials **/
.a-biglink {
    font-size: 15px;
    font-weight: bold;
}
.yaio-doc-p-desc-biglink {
    text-align: center;
    margin-left: 0px;
}



/** Styles der Faehigkeiten **/
.yaio-doc-li-faehigkeiten {
    margin: 0;
    list-style: none;
    width: 30%;
    float: left;
    border-right: 1px dotted #008000;
    border-top: 0px;
    border-bottom: 0px;
    height: 120px;
}
.yaio-doc-li-faehigkeiten:nth-of-type(1) {
}
.yaio-doc-li-faehigkeiten:last-child {
    border-right:0px;
}
.yaio-doc-li-ue-faehigkeiten {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.yaio-doc-li-ue-faehigkeiten a {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.yaio-doc-li-desc-faehigkeiten {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
/** Styles fuer Management **/
.yaio-doc-box-management {
    background: #DEE9EF;
}

.yaio-doc-li-management {
    list-style: none;
    margin-left: 40px;
}
.yaio-doc-li-ue-management {
    color: black;
    display: inline-block;
    text-align: left;
    width: 150px;
    font-weight: bold;
}
.yaio-doc-li-desc-management {
    display: inline-block;
    width: 450px;
    vertical-align: top;
    line-height: 15px;
}

/** Features **/
.yaio-doc-li-ue-istohne {
    font-weight: bold;
}
.yaio-doc-li-ue-bereiche {
    font-weight: bold;
}
.yaio-doc-li-ue-features {
    font-weight: bold;
}
.yaio-doc-li-ue-ausgabeformate {
    font-weight: bold;
}
.yaio-doc-li-ue-sichten {
    font-weight: bold;
}


