/**
 * export-styles: projectplan
 */

.yaio-pj-node-block {
    width: 100%;
    clear: both;
    float: left;
}
.yaio-pj-node-block-leaf {
}
.yaio-pj-node-block-leaf1 {
}
.yaio-pj-node-block-twig {
}
.yaio-pj-node-block-twig1 {
    border: 2px solid #D3D3D3
}
.yaio-pj-node-line-ue {
    width: 100%;
    clear: both;
    float: left;
}

.yaio-pj-node-style-ue {
    font-weight: bold;
    font-size: 12px;
}


/**
 * Node-Styles
 */
.yaio-pj-node-style-ue1 {
}

.yaio-pj-node-style-list {
}

.yaio-pj-node-style-list1 {
}

.yaio-pj-node-line-trenner {
    border: none;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
}

.yaio-pj-node-trenner-area-state {
}

.yaio-pj-node-trenner-area-name {
}

.yaio-pj-node-trenner-area-intend {
    background: lightgrey;
    width: 100%;
}


/**
 * Node-Elemente
 */
.yaio-pj-node-data-block {
}
.yaio-pj-node-area-stateshort {
    vertical-align: top;
    width: 30px;
    float: left;
}
.yaio-pj-node-area-name-container {
    vertical-align: top;
    width: 600px;
    float: left;
}
.yaio-pj-node-area-name-container2 {
    border-left: 1px solid black;
}
.yaio-pj-node-area-name {
    vertical-align: top;
    display: inline;
    float: left;
    width: 90%;
}
.yaio-pj-node-area-state {
    vertical-align: top;
    width: 80px;
    float: left;
}

.yaio-pj-node-area-istplan {
    vertical-align: top;
    width: 620px;
    float: left;
}

.yaio-pj-node-block-ist {
    vertical-align: top;
    width: 330px;
    float: left;
}
.yaio-pj-node-block-istcalcsum {
    vertical-align: top;
    width: 330px;
    float: left;
}

.yaio-pj-node-block-plan {
    vertical-align: top;
    width: 290px;
    float: left;
}
.yaio-pj-node-block-plancalcsum {
    vertical-align: top;
    width: 290px;
    float: left;
}

.yaio-pj-node-container-desc {
    width: 100%;
    clear: both;
    float: left;
}

.yaio-pj-node-block-desc {
    width: 100%;
    clear: both;
    float: left;
    font-style: italic;
}


.yaio-pj-node-container-children {
    width: 100%;
    clear: both;
    float: left;
}

.yaio-pj-node-block-children {
    width: 100%;
    clear: both;
    float: left;
}

/**
 * Node-Typ
 */
.yaio-pj-node-type-leaf {
    border-top: 1px dotted #D3D3D3
}

.yaio-pj-node-type-leaf1 {
}

.yaio-pj-node-type-twig {
    font-weight: bold;
    border-top: 2px solid #D3D3D3
}

.yaio-pj-node-type-twig1 {
}

/**
 * Node-Level
 */
.yaio-pj-node-level1 {
    margin-left: 30px;
}
.yaio-pj-node-level2 {
    margin-left: 60px;
}
.yaio-pj-node-level3 {
    margin-left: 90px;
}
.yaio-pj-node-level4 {
    margin-left: 120px;
}
.yaio-pj-node-level5 {
    margin-left: 150px;
}
.yaio-pj-node-level6 {
    margin-left: 180px;
}
.yaio-pj-node-level7 {
    margin-left: 210px;
}
.yaio-pj-node-level8 {
    margin-left: 240px;
}
.yaio-pj-node-level9 {
    margin-left: 270px;
}
.yaio-pj-node-level10 {
    margin-left: 300px;
}
.yaio-pj-node-level11 {
    margin-left: 330px;
}
.yaio-pj-node-level12 {
    margin-left: 360px;
}


/**
 * Node-Stati
 */
.yaio-node-state-INFO {
    background-color: #AFEEEE; /*#E8FEFF; #33CCCC;*/
}
.yaio-node-state-DOKU {
    background-color: #AFEEEE; /*#E8FEFF; #33CCCC;*/
}
.yaio-node-state-IDEE {
    background-color: #AFEEEE; /*#E8FEFF; #33CCCC;*/
}
.yaio-node-state-HOWTO {
    background-color: #AFEEEE; /*#E8FEFF; #33CCCC;*/
}
.yaio-node-state-URLRES {
    background-color: #AFEEEE; /*#E8FEFF; #33CCCC;*/
}
.yaio-node-state-IMAGERES {
    background-color: #AFEEEE; /*#E8FEFF; #33CCCC;*/
}
.yaio-node-state-FILERES {
    background-color: #AFEEEE; /*#E8FEFF; #33CCCC;*/
}
.yaio-node-state-MAILRES {
    background-color: #AFEEEE; /*#E8FEFF; #33CCCC;*/
}
.yaio-node-state-SYMLINK {
    background-color: #FFC0CB; /*#33CCCC;*/
}
.yaio-node-state-OPEN {
    background-color: #ADFF2F; /* CFF9BB #99FF66;*/
}
.yaio-node-state-OFFEN {
    background-color: #ADFF2F; /* #CFF9BB #99FF66;*/
}
.yaio-node-state-RUNNING {
    background-color: #ADFF2F; /* #CFF9BB #99FF66;*/
}
.yaio-node-state-LATE {
    background-color: #FFD700; /*#F6F9AE; #FFFF66;*/
}
.yaio-node-state-VERSPAETET {
    background-color: #FFD700; /*#F6F9AE; #FFFF66;*/
}
.yaio-node-state-SHORT {
    background-color: #FF6347; /* #FCD2C9; /*#FF9966;*/
}
.yaio-node-state-UEBERFAELLIG {
    background-color: #FF6347; /* #FCD2C9; /*#FF9966;*/
}
.yaio-node-state-WARNING {
    background-color: #FF6347; /* #FCD2C9; /*#FF9966;*/
}
.yaio-node-state-DONE {
    background-color: #E0F2FC; /*#B0E0E6;*/
}
.yaio-node-state-ERLEDIGT {
    background-color: #E0F2FC; /*#B0E0E6;*/
}
.yaio-node-state-CANCELED {
    background-color: #F5F5F5; /*#CCCCCC;*/
}
.yaio-node-state-VERWORFEN {
    background-color: #F5F5F5; /*#CCCCCC;*/
}
.yaio-node-state-UNKNOWN {
    background-color: #FFFFFF;
}
.yaio-node-state-UNBEKANNT {
    background-color: #FFFFFF;
}

.yaio-node-state-EVENT_PLANED {
    background-color: #ADFF2F; /* #CFF9BB #99FF66;*/
}
.yaio-node-state-EVENT_GEPLANT {
    background-color: #ADFF2F; /* #CFF9BB #99FF66;*/
}
.yaio-node-state-EVENT_OPEN {
    background-color: #ADFF2F; /* #CFF9BB #99FF66;*/
}
.yaio-node-state-EVENT_OFFEN {
    background-color: #ADFF2F; /* #CFF9BB #99FF66;*/
}
.yaio-node-state-EVENT_RUNNING {
    background-color: #ADFF2F; /* #CFF9BB #99FF66;*/
}
.yaio-node-state-EVENT_LATE {
    background-color: #FFD700; /*#F6F9AE; #FFFF66;*/
}
.yaio-node-state-EVENT_VERSPAETET {
    background-color: #FFD700; /*#F6F9AE; #FFFF66;*/
}
.yaio-node-state-EVENT_SHORT {
    background-color: #FF6347; /* #FF6347; /* #FCD2C9; /*#FF9966;*/
}
.yaio-node-state-EVENT_UEBERFAELLIG {
    background-color: #FF6347; /* #FCD2C9; /*#FF9966;*/
}
.yaio-node-state-EVENT_WARNING {
    background-color: #FF6347; /* #FCD2C9; /*#FF9966;*/
}
.yaio-node-state-EVENT_DONE {
    background-color: #E0F2FC; /*#B0E0E6;*/
}
.yaio-node-state-EVENT_ERLEDIGT {
    background-color: #E0F2FC; /*#B0E0E6;*/
}
.yaio-node-state-EVENT_CANCELED {
    background-color: #F5F5F5; /*#CCCCCC;*/
}
.yaio-node-state-EVENT_VERWORFEN {
    background-color: #F5F5F5; /*#CCCCCC;*/
}


/** markdowndesc-styles **/
div.yaio-pj-node-block-desc-set {
    white-space: normal;
    word-wrap: normal;
}
div.yaio-pj-node-block-desc-set > h1,
div.yaio-pj-node-block-desc-set > h2,
div.yaio-pj-node-block-desc-set > h3,
div.yaio-pj-node-block-desc-set > h4,
div.yaio-pj-node-block-desc-set > h5,
div.yaio-pj-node-block-desc-set > h6,
div.yaio-pj-node-block-desc-set > h7,
div.yaio-pj-node-block-desc-set > h8 {
    color: black;
}
pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 13px;
    line-height: 1.42857;
    margin: 0 0 10px;
    max-height: 300px;
    overflow-y: auto;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

